<div class="container">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8 main center">
      <% flash.each do |key, value| %>
        <%= content_tag(:div, value, class: "#{key}") %>
      <% end %>

      

<h1>投稿を編集</h1>

<%= render 'form', feed: @feed %>

<%= link_to '戻る', @feed %>


    </div>
    <div class="col-md-2"></div>
  </div>
</div>