// Place all the styles related to the feeds controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#feed_image{
  margin-left: 30%;
}
#feed-content textarea{
  width: 400px;
  height: 200px;
}
#confirm-sentence{
  padding: 0.5em 1em;
  margin:  0;
  color: #5d627b;
  background: white;
  border-top: solid 5px #5d627b;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
  width: 400px;
  margin-left: 23.3%;
}
// .box11 p {
//   margin: 0; 
//   padding: 0;
// }
#confirm-content{
  // float: left;
  margin: 0; 
  padding: 0;
  word-break: break-all;
}

.confirm-main{
  text-align: center;
  margin-top: 6%;
  
  // background-color: #000;
  // border-radius: 10px;
}
.fence{
  border: solid 5px #000;
  border-radius: 10px;
}

.show-feed{
  text-align: center;
}
#feed-image img{
  width: 80%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.6);
}
#feed-round-image img{
  border-radius: 50%;
  width: 50px;
}
#feed-profile-user{
  margin-top: 10px;
}

#show-sentence{
  padding: 0.5em 1em;
  margin:  0;
  // color: #5d627b;
  background: white;
  // border-top: solid 5px #5d627b;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
  width: 80%;
  margin-left: 10%;
}
#show-content{
  // float: left;
  margin: 0; 
  padding: 0;
  word-break: break-all;
}

.show-nav{
  width: 80%;
  margin-top: 30px;
  margin-left: 10%;
}

#edit-image img{
  margin-bottom: 20px;
}
.favorite-btn{
  margin-top: 20px;
}
.feed-main{
  // background-color: red;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 30px;
  border-radius: 10px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.22);
}
.feed-table{
  // background-color: #000;
  padding-top: 7px;
  width: 80%;
  margin-left: 10%;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.22);
}
#confirm-image img{
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.6);
}
.create-time{
  text-align: center;
  margin-top: 15px;
  color: gray;
}