// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.notice{
  color: green;
  text-align: center;
}
body{
  margin: 0;
  height: 100%;
}

.center{
  text-align: center;
}

.main-header{
  /* padding-top: 15%; */
  /* padding-bottom: 15%; */
  width: 100%;
  height: 100%;
  background-size: cover;
  background-image: url("lake.jpg");
  background-attachment: fixed;
}

#title{
  font-family: Impact;
  font-style: italic;
  color: transparent;
  -webkit-text-stroke: 1px #FFF;
  text-align: center;
  font-size: 120px;
  margin-top: 0;
}
.header{
  text-align: center;
  margin: 30px;
}

.label-primary{
  padding: 10px;
}
.label-primary a{
  color: #FFF;
}
.label-success{
  padding: 10px;
}
.label-success a{
  color: #FFF;
}

.label-info{
  padding: 10px;
}
.label-info a{
  color: #FFF;
}

.label-danger{
  padding: 10px;
}
.label-danger a{
  color: #FFF;
}

.label-warning{
  padding: 10px;
}
.label-warning a{
  color: #FFF;
}

.entry{
  /* font-family: Hiragino Mincho ProN; */
  font-weight: bold;
  padding-top: 20px;
  -webkit-text-stroke: 1px #FFF;
  color: #000;
  
}


#new-create{
  margin-top: 20px;
}

#label-name input{
  width: 250px;
}
#label-name label{
  margin-top: 30px;
  text-shadow: 1px 1px 0 #FFF, -1px -1px 0 #FFF,
  -1px 1px 0 #FFF, 1px -1px 0 #FFF,
  0px 1px 0 #FFF,  0-1px 0 #FFF,
  -1px 0 0 #FFF, 1px 0 0 #FFF;
}

#label-email input{
  width: 250px;
}
#label-email label{
  margin-top: 30px;
  text-shadow: 1px 1px 0 #FFF, -1px -1px 0 #FFF,
  -1px 1px 0 #FFF, 1px -1px 0 #FFF,
  0px 1px 0 #FFF,  0-1px 0 #FFF,
  -1px 0 0 #FFF, 1px 0 0 #FFF;
}

#label-password input{
  width: 250px;
}
#label-password label{
  margin-top: 30px;
  text-shadow: 1px 1px 0 #FFF, -1px -1px 0 #FFF,
  -1px 1px 0 #FFF, 1px -1px 0 #FFF,
  0px 1px 0 #FFF,  0-1px 0 #FFF,
  -1px 0 0 #FFF, 1px 0 0 #FFF;
}

#label-password-confirmation input{
  width: 250px;
}
#label-password-confirmation label{
  margin-top: 30px;
  text-shadow: 1px 1px 0 #FFF, -1px -1px 0 #FFF,
  -1px 1px 0 #FFF, 1px -1px 0 #FFF,
  0px 1px 0 #FFF,  0-1px 0 #FFF,
  -1px 0 0 #FFF, 1px 0 0 #FFF;
}

#round-image img{
  border-radius: 50%;
}
p #my-image{
  margin: 0;
}
#my-image img{
  width: 248px;
  height: 248px;
  // float: left;
  margin: 1px;
  // clear: both;
  // border: solid 3px #FFF;
  // flex-direction: row;
  // display: inline-block;
  // display: flex;
  // flex-wrap: wrap;
  // display: table;
  
}
.flex{
  display: flex;
  // flex-direction: row;
  flex-wrap: wrap;
  margin-top: 20px;
}

table{
  margin-bottom: 10px;
  margin-left: 100px;
}

.breadcrumb{
  text-align: center;
}
#profile{
  padding-left: 30px;
}
td #profile{
  padding-top: 0;
}
#profile-user{
  margin-top: 0;
}
#profile-content{
  word-break: break-all;
}
#profile-email{
  margin-bottom: 17px;
}
.main{
  // background-color: red;
  border-radius: 10px;
  margin-top: 30px;
}
#header-right{
  float: right;
  // margin-top: 5px;
}
.edit-main{
  text-align: center;
  margin-top: 10%;
  padding-bottom: 20px;
  // background-color: #000;
  border-radius: 10px;
}
textarea{
  width: 300px;
  height: 100px;
}
.edit-user-main{
  margin-top: 50px;
}
#edit-name input{
  width: 300px;
}
#user_profile_image{
  margin-left: 30%;
}
div .denger{
  // margin-top: 100px;
  color: red;
  font-size: large;
  font-weight: bold;
  // -webkit-text-stroke: 1px #FFF;
  text-align: center;
}
